*{
    padding: 0%;
    margin: 0%;
}
body{
    background: rgba(25,35,55,26);
}
h1{ 
    color: white;
    letter-spacing: 5px;
    text-align: center;
    font-size: 40px;
    margin: 50px;
}
.slider{
    width: 60%;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url(https://images.pexels.com/photos/38537/woodland-road-falling-leaf-natural-38537.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: 100% 100%;  
    box-shadow: 1px 2px 10px 5px white;  
    animation: slider 8s infinite linear;
}
@keyframes slider{
    0%{background-image: url(https://images.pexels.com/photos/259915/pexels-photo-259915.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);}
    20%{background-image: url(https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500);}
    40%{background-image: url(https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500);}
    60%{background-image: url(https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);}
    80%{background-image: url(https://images.pexels.com/photos/589840/pexels-photo-589840.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);}

}